html {
font-family: sans-serif;
font-family: sans-serif;
line-height: 1.15;
line-height: 1.15;
-webkit-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
scroll-behavior: smooth;
}

section{
display: block;	
width: 100%;	
padding: 0 7%;	
display: table;	
margin: 0;	
max-width: none;	
height: 100vh;	
vertical-align: middle;	
}

